<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <title>게시판 - 글쓰기</title>
  <link rel="stylesheet" />
</head>
<body>
<div class="container">
  <form id="imageForm" action="/post" method="post" enctype="multipart/form-data">
    <div class="form-group row">
      <label for="inputFile" class="col-sm-2 col-form-label"><strong>첨부 파일</strong></label>
      <div class="col-sm-10">
        <div class="custom-file" id="inputFile">
          <input name="file" type="file" class="custom-file-input" id="customFile" onchange="previewFile()" />
          <label class="custom-file-label" for="customFile">파일을 선택해 주세요.</label>
        </div>
        <img id="previewImage" src="#" alt="미리보기" style="max-width: 100px; display: none;" />
      </div>
    </div>
    <div class="row">
      <div class="col-auto mr-auto"></div>
      <div class="col-auto">
        <button class="btn btn-primary" type="button" onclick="submitForm()">텍스트 변환하기</button>
      </div>
    </div>
  </form>
</div>
<script>
  function previewFile() {
    var preview = document.getElementById('previewImage');
    var fileInput = document.getElementById('customFile');
    var file = fileInput.files[0];
    var reader = new FileReader();

    reader.onload = function (e) {
      preview.src = e.target.result;
      preview.style.display = 'block';
    };

    if (file) {
      reader.readAsDataURL(file);
    } else {
      preview.src = '';
      preview.style.display = 'none';
    }
  }

  function submitForm() {
    var form = document.getElementById('imageForm');
    form.submit();
  }
</script>
</body>
</html>
